<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="homoki.eperhelper.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="homoki.eperhelper.My.MySettings.TorzsadatokConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\TorzsAdatbazis.mdb"
      providerName="System.Data.OleDb" />
    <add name="homoki.eperhelper.My.MySettings.NyomtatvanyAdatokConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=NyomtatvanyAdatok.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <homoki.eperhelper.My.MySettings>
      <setting name="mappaANYKmentes" serializeAs="String">
        <value />
      </setting>
      <setting name="mappaANYKfuttatas" serializeAs="String">
        <value />
      </setting>
      <setting name="TSACertDefault" serializeAs="String">
        <value />
      </setting>
      <setting name="SignCertDefault" serializeAs="String">
        <value />
      </setting>
      <setting name="OCSPCertDefault" serializeAs="String">
        <value />
      </setting>
      <setting name="TSURL" serializeAs="String">
        <value />
      </setting>
      <setting name="TSUN" serializeAs="String">
        <value />
      </setting>
      <setting name="TSPW" serializeAs="String">
        <value />
      </setting>
      <setting name="HKPUName" serializeAs="String">
        <value />
      </setting>
      <setting name="PKPUName" serializeAs="String">
        <value />
      </setting>
      <setting name="UKPUName" serializeAs="String">
        <value />
      </setting>
      <setting name="HKPPassw" serializeAs="String">
        <value />
      </setting>
      <setting name="UKPPassw" serializeAs="String">
        <value />
      </setting>
      <setting name="PKPPassw" serializeAs="String">
        <value />
      </setting>
      <setting name="EncryptKeyPath" serializeAs="String">
        <value />
      </setting>
      <setting name="mappaXMLmegnyitas" serializeAs="String">
        <value />
      </setting>
      <setting name="mappaLefuzes" serializeAs="String">
        <value />
      </setting>
      <setting name="mappaExtract" serializeAs="String">
        <value />
      </setting>
      <setting name="TorzsDBAutoImportCSVPath" serializeAs="String">
        <value />
      </setting>
      <setting name="TorzsDBAutoImportLastDate" serializeAs="String">
        <value />
      </setting>
      <setting name="Regisztrált" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DbgFirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AccessibleUserSettings" serializeAs="String">
        <value />
      </setting>
      <setting name="JavaDisabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ErtesitNincsJava" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ANYK_abevjavapath_cfg_Dir" serializeAs="String">
        <value />
      </setting>
      <setting name="mappaANYKadat" serializeAs="String">
        <value />
      </setting>
      <setting name="mappaANYKkuldendo" serializeAs="String">
        <value />
      </setting>
      <setting name="mappaANYKelkuldott" serializeAs="String">
        <value />
      </setting>
      <setting name="PkeyPassw" serializeAs="String">
        <value />
      </setting>
      <setting name="DecryptKeyPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ErtesitNincsPkey" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PasswPrinted" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultKitoltoID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mappaANYKmentesBackup" serializeAs="String">
        <value />
      </setting>
      <setting name="KeltezesHelye" serializeAs="String">
        <value />
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ZipFajlTorol" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AtvegyeANYKbolTitkositot" serializeAs="String">
        <value />
      </setting>
      <setting name="ErtesitVanNyomtatvany" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="TDBDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="BrowserPreferred" serializeAs="String">
        <value>Microsoft Edge</value>
      </setting>
      <setting name="ARCONSULTSettings" serializeAs="String">
        <value>c:\eperhelper_data\eperelper_settings.xml</value>
      </setting>
      <setting name="ARCONSULTtitkjelszo" serializeAs="String">
        <value>tucsi12</value>
      </setting>
      <setting name="ArchivTS" serializeAs="String">
        <value>False</value>
      </setting>
    </homoki.eperhelper.My.MySettings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_eperHelperRegWS_if" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://registration.homoki.net/eperHelperRegWS.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_eperHelperRegWS_if"
        contract="RegSrv.eperHelperRegWS_if" name="BasicHttpBinding_eperHelperRegWS_if" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.windows.forms jitDebugging="true" />
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true"/>
  </system.net>
</configuration>