<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <!--debug érték: <add name="registrationConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\registration.mdf;Integrated Security=True;Connect Timeout=30"
    -->
    <!--éles érték:  <add name="registrationConnectionString" connectionString="Server=SQLServer2016;Database=homokiui$registration;Integrated Security=true;" providerName="System.Data.SqlClient" />
    -->
    <add name="registrationConnectionString" connectionString="Server=SQLServer2016;Database=homokiui$registration;Integrated Security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!-- Az alábbi méretek 2000 kód esetén megfelelőek, nagyobb kód esetén arányosan nagyobbra kell növelni -->
        <binding maxBufferSize="327680"
            maxReceivedMessageSize="327680">
          <readerQuotas maxStringContentLength="327680" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Ezzel kapcsolhatom ki-be, hogy kiírja-e az svc alapján a wsdl címet: http://registration.homoki.net/eperHelperRegWS.svc?singleWsdl, és frissíteni tudja-e a WSDL-t. Telepítés előtt "false"? -->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information"
              propagateActivity="true">
        <listeners>
          <add name="ServiceModelTraceListener"
               type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               initializeData="wcf-traces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
